{{ define "pageTitle" }}Connexion{{ end }}

{{ define "pageContent" }}
<section id="login-section">
    <h1>Connectez-vous à votre compte</h1>

    <form action="/auth/login" method="POST" autocomplete="on">
        <label>
            <input type="email" name="email" placeholder="Adresse email" required>
        </label>
        <label>
            <input type="password" name="password" placeholder="Mot de passe" required>
        </label>
        <button type="submit">Se connecter</button>
    </form>
</section>
{{ end }}