{{ define "pageTitle" }}Modifier un post{{ end }}

{{ define "pageContent" }}
<section id="edit-section">
    <h1>Modifier le post</h1>

    <form action="/post/modifier" method="POST" autocomplete="on">
        <label>
            <input type="text" name="title" placeholder="{{.Post.Title}}" required>
        </label>
        <label>
            <textarea type="text" name="body" placeholder="{{.Post.Body}}" required></textarea>
        </label>
        <label>
            <input type="hidden" name="slug" value="{{.Post.Slug}}" required>
        </label>
        <label>
            <input type="hidden" name="postID" value="{{.Post.ID}}" required>
        </label>
        <button type="submit">Enregistrer</button>
    </form>
</section>
{{ end }}
