{{ define "pageTitle" }}Créer un post{{ end }}

{{ define "pageContent" }}
<section id="create-section">
    <h1>Créer un nouveau post</h1>

    <form action="/post/create" method="POST" autocomplete="on">
        <label>
            <input type="text" name="title" placeholder="Titre" required>
        </label>
        <label>
            <textarea name="body" placeholder="Contenu" required></textarea>
        </label>
        <label>
            Catégorie:
            <select name="category" required>
                <option value="">-- Sélectionnez une catégorie --</option>
                {{range .Categories}}
                    <option value="{{.Slug}}">{{.Name}}</option>
                {{end}}
            </select>
        </label>
        <label>
            Sous-catégorie:
            <select name="subcategory" required>
                <option value="">-- Sélectionnez une sous-catégorie --</option>
                    <option value="concerts">Concerts</option>
                    <option value="artistes">Artistes</option>
                    <option value="nouveautes">Nouveautés</option>
            </select>
        </label>
        <button type="submit">Créer</button>
    </form>
</section>
{{ end }}
