{{ define "pageTitle" }}Créer un post{{ end }}

{{ define "pageContent" }}
<section id="create-section">
    <h1>Créer un nouveau post</h1>

    <form action="/post/create" method="POST" autocomplete="on">
        <label>
            <input type="text" name="title" placeholder="Titre" required>
        </label>
        <label>
            <textarea name="body" placeholder="Contenu" required></textarea>
        </label>
        <button type="submit">Créer</button>
    </form>
</section>
{{ end }}