{{ define "pageTitle" }}Modifier un post{{ end }}

{{ define "pageContent" }}
<section id="edit-section">
    <h1>Modifier le post</h1>

    <form action="/post/modifier" method="POST" autocomplete="on">
        <label>
            <input type="text" name="title" placeholder="Titre" required>
        </label>
        <label>
            <textarea name="body" placeholder="Contenu" required></textarea>
        </label>
        <button type="submit">Enregistrer</button>
    </form>
</section>
{{ end }}