{{ define "navbar" }}
<nav>
    <div class="nav-inner">
        <div class="nav-left">
            <h1><a href="/">Lyrics</a></h1>
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="search" id="search" placeholder="Rechercher un sujet, un artiste, un concert...">
            </div>
        </div>
        <div class="nav-right">
            <ul>
                {{ if .User.Username }}
                    <li><a href="/profile" class="button-white">{{ .User.Username }}</a></li>
                    <li><a href="/" class="button-brown">Accueil</a></li>
                {{ else }}
                    <li><a href="/auth/login" class="button-white">Connexion</a></li>
                    <li><a href="/auth/register" class="button-brown">Créer un compte</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
<div class="subnav">
    <div class="subnav-inner">
        <ul class="subnav-categories-list">
            <li><a href="/category/rock">Rock</a></li>
            <li><a href="/category/techno">Techno</a></li>
            <li><a href="/category/hard">Hard</a></li>
            <li><a href="/category/rap">Rap</a></li>
            <li><a href="/category/r-and-b">R&B</a></li>
            <li><a href="/category/pop">Pop</a></li>
            <li><a href="/category/house">House</a></li>
            <li><a href="/category/jazz">Jazz</a></li>
            <li><a href="/category/metal">Métal</a></li>
            <li><a href="/category/reggaeton">Reggaeton</a></li>
        </ul>
        <a href="/post/create" class="button-brown">Lancer un sujet</a>
    </div>
</div>
<script>
    document.querySelectorAll('.subnav-categories-list li a').forEach(a => {
        if (window.location.pathname.startsWith(a.getAttribute('href'))) {
            a.closest('li').classList.add('active');
        }
    });
</script>
{{ end }}