<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{ template "pageTitle" . }} | LyricsForum</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/forum.css">
    <link rel="stylesheet" type="text/css" href="/css/auth.css">
</head>
<body>
    <header>
        {{ template "navbar" . }}
    </header>

    <main>
        {{ template "pageContent" . }}
    </main>
</body>
<footer>
    {{ template "footer" . }}
</footer>
</html>